// ***************** WRAPPERS ***************** //
// Description:
// General wrappers for containers, pages and components
// --------------------------------------------------


// ==================================================
// Containers
// ==================================================
$wrap-padding       : 40px;
$wrap-padding-small : 20px;
$wrap-max-width     : 1600px;

// ==================================================
// components
// ==================================================
$component-max-width : 1300px;