.collection-tiles-wrapper {
    padding: 100px 0;

    .tile-image {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 150px;
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        align-items: flex-end;

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background: linear-gradient(0deg, rgba(34, 34, 34, 0.5) 0%, rgba(34, 34, 34, 0) 100%);
        }

        &:hover {
            &:before {
                background: linear-gradient(0deg, rgba(34, 34, 34, 0.7) 0%, rgba(34, 34, 34, 0) 100%);
            }
        }
    }

    ul {
        display: flex;
        flex-wrap: wrap;
    }

    li {
        border-radius: 5px;
        overflow: hidden;
        flex: 20%;
        margin-right: 40px;
        margin-bottom: 40px;

        &:nth-child(4n) {
            margin-right: 0;
        }

        @include breakpoint($mobile) {
            flex: 44%;
            margin-right: 35px;
            margin-bottom: 35px;

            &:nth-child(2n) {
                margin-right: 0;
            }
        }
    }

    h2 {
        text-transform: uppercase;
        position: relative;
        font-size: 18px;
        font-weight: $font-weight-regular;
        letter-spacing: 1px;
    }

    span {
        position: relative;
        display: flex;
        font-size: 22px;
    }

    a {
        color: $white;
        text-decoration: none;
    }
}