.explore-page {
    padding: 200px 0;
}

.inspiration-component {
    background-color: $white;

    .inspiration-component-wrapper {
        max-width: 1600px;
        margin-left: auto;
        padding: 80px 0;

        @include breakpoint($mobile) {
            padding: 40px 0;
            padding-left: 20px;
        }
    }

    .inspiration-component-content {
        display: flex;

        @include breakpoint($below-desktop) {
            flex-direction: column;
        }
    }

    .inspiration-info {
        padding: 0 40px;
        display: flex;
        align-items: center;
        
        @include breakpoint($mobile) {
            padding: 0 20px;
        }

        span {
            font-weight: $font-weight-bold;
            color: $green;
            font-size: 70px;
            opacity: .2;
            letter-spacing: 2px;

            @include breakpoint($mobile) {
                display: block;
                text-align: center;
            }
        }

        h2 {
            font-size: 35px;
            margin-top: -35px
        }

        p {
            font-size: 16px;
            line-height: 24px;
            margin: 20px 0;
        }
    }

    .inspiration-info-wrapper {
        padding-right: 100px;

        @include breakpoint($below-desktop) {
            padding-right: 0;
            padding-bottom: 30px;
            text-align: center;

            .round-btn  {
                display: block;
            }
        }
    }

    .inspiration-slider {
        max-width: 650px;
        width: 100%;
        position: relative;

        @include breakpoint($below-desktop) {
            max-width: 100%;
        }

        .slick-slide {
            margin-right: 20px;
        }

        a {
            text-decoration: none;
        }

        .arrow-back,
        .arrow-next {
            color: $white;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            padding: 15px;
            font-size: 25px;
        }

        .arrow-back {
            left: 0;
        }

        .arrow-next {
            right: 0;
        }
    }

    .slider-image {
        background-color: $white;
        position: relative;
        height: 460px;
        border-radius: 5px;
        width: 330px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;

        @include breakpoint($mobile) {
            width: 250px;
            height: 350px;
        }

        &:before {
            content: '';
            position: absolute;
            display: block;
            right: 0;
            bottom: 0;
            left: 0;
            background: linear-gradient(180deg,rgba(0,0,0,0) 0,#000 100%);
            opacity: .8;
            height: 65%;
        }

        span {
            position: absolute;
            font-weight: $font-weight-medium;
            color: $white;
            font-size: 18px;
            letter-spacing: 1.3px;
            bottom: 15px;
            left: 20px;
        }
    }
}