// ***************** VARIABLES ***************** //
// Description:
// General global variables used in the project
// --------------------------------------------------

/*
* Breakpoints & MediaQueries
* NOTE: When you make a new media query variable, please add it also to "_mq-set.scss"
* -------------------------------------------------------------------------------------------------------------------------
*/

$desktop: 'only screen and (min-width: 1025px)';
$below-desktop: 'only screen and (max-width : 1024px)';

$tablet-landscape: 'only screen and (min-width : 901px) and (max-width: 1024px)';
$tablet-portrait: 'only screen and (min-width : 768px) and (max-width: 900px)';

$above-tablet-portrait: 'only screen and (min-width: 901px)';
$below-tablet-portrait: 'only screen and (max-width: 900px)';

$above-mobile: 'only screen and (min-width : 768px)';
$mobile: 'only screen and (max-width : 767px)';
$mobile-portrait: 'only screen and (max-device-width: 480px) and (orientation: portrait)';
$mobile-landscape: 'only screen and (min-device-width: 480px) and (max-device-width: 767px) and (orientation: landscape)';


// ==================================================
// Colors : Names from : http://chir.ag/projects/name-that-color
// ==================================================

$white					: #fff;
$wild-sand              : #f4f4f4;
$mercury                : #E2E2E2;
$dusty-gray             : #979797;
$black					: #000;
$mid-gray               : #616265;
$mine-shaft             : #222;
$blue                   : #3a8bbb;

// ==================================================
// Font Family
// ==================================================
$roboto                 : 'Roboto', sans-serif;
$abril-fatface          : 'Abril Fatface', cursive;

// ==================================================
// Font Weight
// ==================================================

$font-weight-light      : 300;
$font-weight-regular    : 400;
$font-weight-medium     : 500;
$font-weight-bold       : 700;

// ==================================================
// Body
// ==================================================
$body-color             : $wild-sand;
$body-font-size         : 14px;
$body-font-family       : $roboto;
$body-font-color        : $mid-gray;

// ==================================================
// Border radius
// ==================================================
$global-border-radius   : 5px;

// ==================================================
// Box shadow
// ==================================================
$gallery-box-shadow     : 0 16px 32px 0 rgba(0,0,0,.1);